#videoContainer {
  background: #222; 
  color:#FFFFFF;
  padding: 0px;
}
#videoContainer a, #videoContainer a:hover {
  color: #24b9ff;
}
video {
  
  margin:0px;
  padding:0px;
  vertical-align: top;
}
#playlist {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
.active a {
  text-decoration: none;
  text-decoration: underline;
}
li a {
  padding: 8px 12px;
  display: block;
}
li a:hover {
  text-decoration: none;
}

@media (min-width: 768px) {
  video {
    width: 70%;
  }
  #playlist {
    float:right;
    width: 30%;
  }
}

@media (max-width: 767px) {
  video {
    width: 100%;
  }
  #playlist {
    width: 100%;
  }
}