<footer>
    <div class="text-white" style="border-top:1px solid #333;">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div class="py-5">
                        <img src="{{'assets/logo.png' | relative_url}}" alt="" srcset="" class="img-fluid mb-3" style="height:75px">
                        <div>
                            Phone: 918-994-2638 | support@churchapps.org
                        </div>
                        <div>
                            2024 © <a href="https://churchapps.org/" class="text-info">Live Church Solutions</a>
                        </div>
                        <div>
                            A 501(c)(3) organization with EIN 45-5349618
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>