<footer>
    <div class="bg-dark text-white" style="background-color: #002a3e;">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div class="py-5">
                        <img src="{{'assets/logo-white.png' | relative_url}}" alt="" srcset="" class="img-fluid mb-3">
                        <div>
                            Phone: 918-994-2638 | support@livecs.org
                        </div>
                        <div>
                            2022 © <a href="https://livecs.org/" class="text-info">Live Church Solutions</a>
                        </div>
                        <div>
                            A 501(c)(3) organization with EIN 45-5349618
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>