---
---
@import "{{ site.theme }}";

a[href*=youtube]::after {
  content: "Watch video";
  display: block;
}

a[href*=vimeo]::after {
  content: "Watch video";
  display: block;
}

@media screen and (max-width: 620px) {
  .main-content section {
    padding-left: 10px;
    padding-right: 10px;
  }
}