<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="UTF-8">

  {% seo %}
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  {% include head-custom.html %}
</head>

<body>
  <a id="skip-to-content" href="#content">Skip to the content.</a>
  <header class="page-header" role="banner">
    <img src="https://churchapps.org/images/logo-white.png" style="padding-top:0px;padding-bottom:0px;">
  </header>
  <div id="banner">
    <h1 style="font-size:24px;background-color: inherit;" class="fork">ChurchApps Support</h1>
  </div>

  <div class="wrapper">
    <nav>
      <ul></ul>
    </nav>
    <main id="content" class="main-content" role="main">
      <section>
        {{ content }}
      </section>

      <footer class="site-footer">
      </footer>
    </main>
  </div>
</body>

</html>