---
layout: default
---
<div class="container">
    <div class="row py-5">
        <div class="col text-center">
            <div class="bg-light p-5 rounded border">
                <h1 class="mb-3">Welcome to ChurchApps Support Wiki</h1>
                <p class="fs-4 text-muted mb-5">Completely <strong>Free, Open-Source Apps </strong> for Churches.</p>
                <a href="https://churchapps.org/" target="_blank" class="btn btn-primary btn-lg fw-bold">Learn more
                    about
                    ChurchApps</a>
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col">
            {{content | markdownify}}
        </div>
    </div>
</div>